[submodule "Visual-Perception/2D-Perception/WeSAM"]
	path = Visual-Perception/2D-Perception/WeSAM
	url = git@github.com:zhang-haojie/wesam.git
[submodule "Visual-Perception/2D-Perception/SAM-6D"]
	path = Visual-Perception/2D-Perception/SAM-6D
	url = git@github.com:JiehongLin/SAM-6D.git
[submodule "Visual-Perception/3D-Perception/VISTA"]
	path = Visual-Perception/3D-Perception/VISTA
	url = git@github.com:Gorilla-Lab-SCUT/VISTA.git
[submodule "Visual-Perception/3D-Perception/Frustum-ConvNet"]
	path = Visual-Perception/3D-Perception/Frustum-ConvNet
	url = git@github.com:Gorilla-Lab-SCUT/frustum-convnet.git
[submodule "Visual-Perception/3D-Perception/SSTNet"]
	path = Visual-Perception/3D-Perception/SSTNet
	url = git@github.com:Gorilla-Lab-SCUT/SSTNet.git
[submodule "Audio/chatbot_SER"]
	path = Audio/chatbot_SER
	url = https://github.com/qiaoweima/chatbot_SER.git
[submodule "Audio/chatbot_TTS"]
	path = Audio/chatbot_TTS
	url = https://github.com/qiaoweima/chatbot_TTS.git
[submodule "Audio/Audio-Anti-Spoofing"]
	path = Audio/Audio-Anti-Spoofing
	url = https://github.com/qiaoweima/Audio-Anti-Spoofing.git
[submodule "Audio/chatbot_ASR"]
	path = Audio/chatbot_ASR
	url = https://github.com/qiaoweima/chatbot_ASR.git
[submodule "Audio/Blizzard_Challenge"]
	path = Audio/Blizzard_Challenge
	url = https://github.com/qiaoweima/Blizzard_Challenge.git
[submodule "Visual-Perception/2D-Perception/DOQ"]
	path = Visual-Perception/2D-Perception/DOQ
	url = https://github.com/SherlockHolmes221/DOQ.git
[submodule "Visual-Perception/2D-Perception/HQM"]
	path = Visual-Perception/2D-Perception/HQM
	url = https://github.com/MuchHair/HQM.git
[submodule "Visual-Perception/2D-Perception/PD-Net"]
	path = Visual-Perception/2D-Perception/PD-Net
	url = https://github.com/MuchHair/PD-Net.git
[submodule "Visual-Perception/2D-Perception/GGNet"]
	path = Visual-Perception/2D-Perception/GGNet
	url = https://github.com/SherlockHolmes221/GGNet.git
[submodule "Visual-Perception/2D-Perception/HRNets"]
	path = Visual-Perception/2D-Perception/HRNets
	url = https://github.com/HRNet/HRNet-Image-Classification.git
[submodule "Visual-Perception/2D-Perception/HCMF"]
	path = Visual-Perception/2D-Perception/HCMF
	url = https://github.com/xiangfasong/HCMF.git
[submodule "Visual-Perception/2D-Perception/ISCLNet"]
	path = Visual-Perception/2D-Perception/ISCLNet
	url = https://github.com/lphxx6222712/ISCLNet.git
[submodule "Visual-Perception/2D-Perception/SM-H"]
	path = Visual-Perception/2D-Perception/SM-H
	url = https://github.com/Dshaoshuai/Partitioning-stateful-data-stream-applications-in-dynamic-edge-cloud-environments.git
[submodule "Visual-Perception/2D-Perception/CBFL"]
	path = Visual-Perception/2D-Perception/CBFL
	url = https://github.com/lizhipengcs/CBFL.git
[submodule "Visual-Perception/2D-Perception/DefenseTransformer"]
	path = Visual-Perception/2D-Perception/DefenseTransformer
	url = https://github.com/SCUTjinchengli/DefenseTransformer.git
[submodule "Visual-Perception/2D-Perception/MWGAN"]
	path = Visual-Perception/2D-Perception/MWGAN
	url = https://github.com/deepmo24/MWGAN.git
[submodule "Visual-Perception/2D-Perception/LCCGAN"]
	path = Visual-Perception/2D-Perception/LCCGAN
	url = https://github.com/guoyongcs/LCCGAN.git
[submodule "Visual-Perception/2D-Perception/DRN-for-Single-Image-Super-Resolution"]
	path = Visual-Perception/2D-Perception/DRN-for-Single-Image-Super-Resolution
	url = https://github.com/guoyongcs/DRN.git
[submodule "Visual-Perception/2D-Perception/DRN-for-Video-Grounding"]
	path = Visual-Perception/2D-Perception/DRN-for-Video-Grounding
	url = https://github.com/Alvin-Zeng/DRN.git
[submodule "Visual-Perception/2D-Perception/PGCN"]
	path = Visual-Perception/2D-Perception/PGCN
	url = https://github.com/Alvin-Zeng/PGCN.git
[submodule "Visual-Perception/2D-Perception/NAT"]
	path = Visual-Perception/2D-Perception/NAT
	url = https://github.com/guoyongcs/NAT.git
[submodule "Visual-Perception/2D-Perception/DCP"]
	path = Visual-Perception/2D-Perception/DCP
	url = https://github.com/SCUT-AILab/DCP.git
[submodule "Visual-Perception/2D-Perception/EATA"]
	path = Visual-Perception/2D-Perception/EATA
	url = https://github.com/mr-eggplant/EATA.git
[submodule "Visual-Perception/2D-Perception/CNAS"]
	path = Visual-Perception/2D-Perception/CNAS
	url = https://github.com/guoyongcs/CNAS.git
[submodule "Visual-Perception/2D-Perception/CTNAS"]
	path = Visual-Perception/2D-Perception/CTNAS
	url = https://github.com/chenyaofo/CTNAS.git
[submodule "Visual-Perception/2D-Perception/SymNets"]
	path = Visual-Perception/2D-Perception/SymNets
	url = https://github.com/Gorilla-Lab-SCUT/SymNets.git
[submodule "Visual-Perception/2D-Perception/RSPNet"]
	path = Visual-Perception/2D-Perception/RSPNet
	url = https://github.com/PeihaoChen/RSPNet.git
[submodule "Visual-Perception/2D-Perception/MPGL"]
	path = Visual-Perception/2D-Perception/MPGL
	url = https://github.com/donggong1/mpgl.git
[submodule "Visual-Perception/2D-Perception/CPGA"]
	path = Visual-Perception/2D-Perception/CPGA
	url = https://github.com/SCUT-AILab/CPGA.git
[submodule "Visual-Perception/2D-Perception/SGE-LA"]
	path = Visual-Perception/2D-Perception/SGE-LA
	url = https://github.com/Kali-Hac/SGE-LA.git
[submodule "Visual-Perception/2D-Perception/SAR"]
	path = Visual-Perception/2D-Perception/SAR
	url = https://github.com/mr-eggplant/SAR.git
[submodule "Visual-Perception/2D-Perception/EPS-AD"]
	path = Visual-Perception/2D-Perception/EPS-AD
	url = https://github.com/ZSHsh98/EPS-AD.git
[submodule "Visual-Perception/2D-Perception/MME"]
	path = Visual-Perception/2D-Perception/MME
	url = https://github.com/XinyuSun/MME.git
[submodule "Visual-Perception/2D-Perception/HAST"]
	path = Visual-Perception/2D-Perception/HAST
	url = https://github.com/lihuantong/HAST.git
[submodule "Visual-Perception/2D-Perception/DENet"]
	path = Visual-Perception/2D-Perception/DENet
	url = https://github.com/lizhaoliu-Lec/DENet.git
[submodule "Visual-Perception/2D-Perception/DAS"]
	path = Visual-Perception/2D-Perception/DAS
	url = https://github.com/lizhaoliu-Lec/DAS.git
[submodule "Visual-Perception/2D-Perception/ProCA"]
	path = Visual-Perception/2D-Perception/ProCA
	url = https://github.com/Hongbin98/ProCA.git
[submodule "Visual-Perception/2D-Perception/GDFQ"]
	path = Visual-Perception/2D-Perception/GDFQ
	url = https://github.com/xushoukai/GDFQ.git
[submodule "Visual-Perception/2D-Perception/DTQ"]
	path = Visual-Perception/2D-Perception/DTQ
	url = https://github.com/xiezheng-cs/DTQ.git
[submodule "Visual-Perception/2D-Perception/AGNet"]
	path = Visual-Perception/2D-Perception/AGNet
	url = https://github.com/HzFu/AGNet.git
[submodule "Visual-Perception/2D-Perception/FC-Net"]
	path = Visual-Perception/2D-Perception/FC-Net
	url = https://github.com/YifYang993/FC-Net.git
[submodule "Visual-Perception/2D-Perception/CP-GAN"]
	path = Visual-Perception/2D-Perception/CP-GAN
	url = https://github.com/JunhongH/CP-GAN.git
[submodule "Visual-Perception/2D-Perception/ADQ"]
	path = Visual-Perception/2D-Perception/ADQ
	url = https://github.com/ziplab/QTool.git
[submodule "Visual-Perception/2D-Perception/AffineGAN"]
	path = Visual-Perception/2D-Perception/AffineGAN
	url = https://github.com/sunlightsgy/AffineGAN.git
[submodule "Visual-Perception/2D-Perception/PNAG"]
	path = Visual-Perception/2D-Perception/PNAG
	url = https://github.com/guoyongcs/PNAG.git
[submodule "Visual-Perception/2D-Perception/BPAI-Net"]
	path = Visual-Perception/2D-Perception/BPAI-Net
	url = https://github.com/SCUT-AILab/BPAI-Net.git
[submodule "Visual-Perception/2D-Perception/LCCGAN-v2"]
	path = Visual-Perception/2D-Perception/LCCGAN-v2
	url = https://github.com/SCUTjinchengli/LCCGAN-v2.git
[submodule "Visual-Perception/2D-Perception/GCM"]
	path = Visual-Perception/2D-Perception/GCM
	url = https://github.com/Alvin-Zeng/GCM.git
[submodule "Visual-Perception/2D-Perception/NATv2"]
	path = Visual-Perception/2D-Perception/NATv2
	url = https://github.com/guoyongcs/NATv2.git
[submodule "Visual-Perception/2D-Perception/CoUDA"]
	path = Visual-Perception/2D-Perception/CoUDA
	url = https://github.com/Vanint/CoUDA.git
[submodule "Visual-Perception/2D-Perception/AEGAN"]
	path = Visual-Perception/2D-Perception/AEGAN
	url = https://github.com/guoyongcs/AEGAN.git
[submodule "Visual-Perception/2D-Perception/LayerOT"]
	path = Visual-Perception/2D-Perception/LayerOT
	url = https://github.com/SCUTjinchengli/LayerOT.git
[submodule "Visual-Perception/2D-Perception/AFA"]
	path = Visual-Perception/2D-Perception/AFA
	url = https://github.com/xiezheng-cs/AFA.git
[submodule "Visual-Perception/2D-Perception/CAC"]
	path = Visual-Perception/2D-Perception/CAC
	url = https://github.com/guoyongcs/CAC.git
[submodule "Visual-Perception/2D-Perception/MultiwayBP"]
	path = Visual-Perception/2D-Perception/MultiwayBP
	url = https://github.com/tanmingkui/multiwaybp.git
